@charset "UTF-8";
body {
  background-color: #fff;
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  width: 100%; 
  height: 186px;
  z-index: 1000; 
  background-color: #fff;
}

.logo {
  font-family: "Klee One", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 33px;
  color: #000080;
  position: relative;
  top: 20px;
  left: 215px;
}
.logo-e {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #707070;
  position: relative;
  top: 28px;
  left: 300px;
}

.ns {
  position: relative;
  bottom: 45px;
  left: 1470px;
  font-size: 13px;
  color: #444444;
}
.ptext {
  position: relative;
  top: 1px;
  left: 1290px;
  font-size: 14px;
  color: #838383;
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.number {
  position: relative;
  bottom: 35px;
  left: 1470px;
  font-size: 28px;
  color: #444444;
}
.fa-phone {
  position: relative;
  bottom: 60px;
  left: 1445px;
  font-size: 20px;
  color: #444444;
}

.nv a {
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #444444;
  font-size: 17px;
  text-decoration: none;
  position: relative;
  bottom: 7px;
  left: 310px;
}

.nv a::after {
  content: '';
  width: 240px;
  height: 2px;
  display: inline-block;
  background-color: #1a1919;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 120px)
}
.nv a:hover{
  color: #000080;
}

.top {
  margin-right: 240px;
}
.access {
  margin-right: 225px;
}
.overview {
  margin-right: 225px;
}
.news {
  margin-right: 215px;
}


.img-frame {
  position: relative;
  z-index: 0;
  background-image: url(akusyu3.jpg);
  background-size: cover;
  object-fit: cover;
  clip-path: polygon(60% 0, 100% 0, 40% 100%, 0 100%);
  top: 150px;
  left: 700px;
  width: 65%;
  height: 800px;
}
.imagine {
  position: absolute;
  z-index: -1;
  top: 150px;
  left: 760px;
  width: 65%;
  height: 800px;
  background-color: #e4e4ee;
  clip-path: polygon(60% 0, 100% 0, 40% 100%, 0 100%);
}
.imagine2 {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 400px;
  top: 555px;
  background-color: #f7f7f7;
}
.text p {
  z-index: 1;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  position: absolute;
}
.text1 {
  bottom: 468px;
  left: 210px;
  font-size: 40px;
}
.text2 {
  bottom: 385px;
  left: 200px;
  font-size: 69px;
}
.text3 {
  bottom: 385px;
  left: 620px;
  font-size: 40px;
}
.text4 {
  bottom: 340px;
  left: 210px;
  font-size: 16px;
}
.text5 {
  bottom: 313px;
  left: 210px;
  font-size: 16px;
}
.o {
  object-fit: cover;
  top: 490px;
  width: 400px;
  height: 280px;

}
.main {
  position: relative;
}

/* .main::before {
  content: '';
  position: absolute;
  transform: rotate(-35deg);
  width: 130px;
  height: 60px;
  background-color: #ffffff;
  z-index: 1;
  top: 245px;
  left: 356px;
  border-bottom: 1px solid #aaa;
}

.main::after {
  content: '';
  position: absolute;
  transform: rotate(-35deg);
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  z-index: 1;
  bottom: -452px;
  right: 345px;
  border-top: 1px solid #aaa;
} */
.m {
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.n {
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.content2 {
  position: relative;
  top: 150px;
  height: 1200px;
  background-color: #ffffff;
}
.imagine3 {
  position: absolute;
  top: 260px;
  right: 0;
  width: 1670px;
  height: 700px;
  background-color: #f7f7f7;
  z-index: 0;
}
.bill-img {
  position: absolute;
  left: 420px;
}
.zimusyo2-img {
  position: absolute;
  left: 820px;
}
.zimusyo1-img {
  position: absolute;
  left: 1220px;
}
.name1-img {
  position: absolute;
  left: 20px;
}
.overview-title {
  position: relative;
  top: 200px;
  left: 770px;
  color: #3f3f3f;
  font-size: 120px;
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.overview-title::after {
  content: '';
  width: 800px;
  height: 2px;
  display: inline-block;
  background-color: #000080;
  position: absolute;
  top: 165px;
  left: 30px;
}
.sub-ov-title {
  position: absolute;
  top: 280px;
  left: 630px;
  color: #3f3f3f;
  font-size: 22px;
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.overview-item1 {
  position: absolute;
  bottom: 390px;
  left: 70px;
}
.overview-item-text1 {
  position: absolute;
  bottom: 390px;
  left: 120px;
}
.overview-item2 {
  position: absolute;
  bottom: 390px;
  left: 500px;
}
.overview-item-text2 {
  position: absolute;
  bottom: 350px;
  left: 500px;
}
.overview-item3 {
  position: absolute;
  bottom: 360px;
  left: 50px;
}
.overview-item-text3 {
  position: absolute;
  bottom: 360px;
  left: 120px;
}
.overview-item4 {
  position: absolute;
  bottom: 390px;
  left: 1300px;
}
.overview-item-text4 {
  position: absolute;
  bottom: 365px;
  left: 1300px;
}
.overview-item5 {
  position: absolute;
  bottom: 390px;
  left: 890px;
}
.overview-item-text5 {
  position: absolute;
  bottom: 350px;
  left: 890px;
}
.main3 {
  height: 800px;
  position: relative;
  top: 1000px;
}
.imagine4 {
  position: absolute;
  left: 200px;
  top: 75px;
  height: 600px;
  width: 1500px;
  background-color: #f7f7f7;
}
.t {
  width: 240px;
  height: auto;
}
.access-title {
  color: #3f3f3f;
  text-align: center;
  font-size: 120px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.access-title::after {
  content: '';
  width: 400px;
  height: 2px;
  display: inline-block;
  background-color: #000080;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 200px)
}
.sub-ac-title {
  position: absolute;
  top: 85px;
  left: 650px;
  color: #3f3f3f;
  font-size: 22px;
  transform: rotate(0.05deg);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.map {
  position: absolute;
  top: 260px;
  left: 1100px;
  height: 350px;
  width: 540px;
}
.access-item1 {
  position: absolute;
  top: 280px;
  left: 500px;
}
.access-item-text1 {
  position: absolute;
  top: 312px;
  left: 500px;
}
.access-item2 {
  position: absolute;
  top: 380px;
  left: 500px;
}
.access-item-text2 {
  position: absolute;
  top: 412px;
  left: 500px;
}
.access-item-text3 {
  position: absolute;
  top: 510px;
  left: 520px;
}
.fa-train-subway {
  position: absolute;
  top: 512px;
  left: 500px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1a1919;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #ffffff;
  font-size: 0.875rem;
}